{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "google"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "semi": ["error", "never"],
        "@typescript-eslint/no-unused-vars": "error",
        "arrow-parens": "off",
        "camelcase": "off",
        "comma-dangle": "off",
        "guard-for-in": "off",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": "off",
        "max-len": "off",
        "max-lines-per-function": [
            "error",
            30
        ],
        "new-cap": "off",
        "no-tabs": [
            "error",
            {
                "allowIndentationTabs": true
            }
        ],
        "object-curly-spacing": "off",
        "prefer-rest-params": "off",
        "require-jsdoc": "off",
        "space-before-function-paren": "off",
        "valid-jsdoc": "off",
        "no-unused-vars": [
            "error",
            {
                "caughtErrors": "all",
                "caughtErrorsIgnorePattern": "^ignore",
                "ignoreRestSiblings": true
            }
        ],
        "quote-props": [
            "error",
            "as-needed"
        ]
    }
}